<div class="corfogeneratecode_block">
   <h2>{{xblock.display_name}}</h2>
   {% if xblock.id_content == '0' or xblock.content == '' %}
      <label style="cursor: text;">Componente no configurado.</label></br>
   {% else %}
      {% if passed is not False %}
         <label style="cursor: text;">No ha pasado el curso todavía.</label>
      {% else %}
         {% if code == '' %}
            <div id="ui-loading-corfogeneratecode-load" class="ui-loading is-hidden" style="box-shadow: none;">
               <p>
               <span class="spin">
                  <span class="icon fa fa-refresh" aria-hidden="true"></span>
               </span>
               <span class="copy">Cargando</span>
               </p>
            </div>
            <input name="corfo-get-code" type="button" style="width: 160px;margin-left: auto;" value="Obtener Codigo">
            <label id='corfo_code' class="is-hidden" style="cursor: text;"></label></br>
         {% else %}
            <label style="cursor: text;">Su código corfo es: {{ code }}</label></br>
         {% endif %}
         <p class="corfogeneratecode_error"></p>
      {% endif %}
   {% endif %}
</div>
