<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
    <ul class="list-input settings-list">
      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="display_name">Display name</label>
          <input class="input setting-input" name="display_name" id="display_name" value="{{xblock.display_name}}" type="text" />
        </div>
      </li>
      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="display_title">Título</label>
          <input class="input setting-input" name="display_title" id="display_title" value="{{xblock.display_title}}" type="text" />
        </div>
      </li>
      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="institution">Institución</label>
          <select name="institution" id="corfogeneratecode_institution">
            {% for institution in list_institution %}
              <option value="{{ institution.id_institution }}" {% if institution.id_institution == xblock.id_institution %}selected{% endif %}>{{ institution.institution }}</option>
            {% endfor %}
            {% if len_list_institution == 0 %}
              <option value="3093" selected>EOL</option>
            {% endif %}
          </select>
        </div>
      </li>
      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="content">Contenido</label>
          <select name="content" id="corfogeneratecode_content">
            {% for content in list_content %}
              <option value="{{ content.id_content }}" {% if content.id_content == xblock.id_content %}selected{% endif %}>{{ content.content }}</option>
            {% endfor %}
          </select>
        </div>
      </li>
    </ul>
    <div class="xblock-actions">
      <ul>
        <li class="action-item">
          <a href="#" class="button action-primary save-button save-button-corfogeneratecode">Guardar</a>
        </li>
        <li class="action-item">
          <a href="#" class="button cancel-button cancel-button-corfogeneratecode">Cancelar</a>
        </li>        
      </ul>
    </div>
</div>