
/* CSS for Media theme */

.corfogeneratecode_block .alert {
    position: relative;
    font-style: italic;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-bottom: 1em;
}

.corfogeneratecode_block .alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f !important;
}

.corfogeneratecode_block .alert-warning {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24 !important;
}
.corfogeneratecode_block .corfogeneratecode_error {
    color: #721c24 !important;
    font-weight: bold;
}
#corfogeneratecode_content:active, #corfogeneratecode_institution:active {
    background-color: #83aebb52 !important;
}

#corfogeneratecode_content:focus, #corfogeneratecode_institution:focus {
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
    transition: opacity 0.25s ease-in-out 0s;
    background-color: #83aebb52;
}
.corfogeneratecode_block button {
    font-family: "Roboto", sans-serif;
}
.corfogeneratecode_block .btn {
    background: none;
    box-shadow: none;
    text-shadow: none;
    background-color: #009bdd !important;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px !important;
}
.corfogeneratecode_block .corfogeneratecode_button {
    font-size: 13px;
    line-height: 20.72px;
}
.corfogeneratecode_block .btn:hover {
    background: none;
    background-color: #0387bf !important;
}
.corfogeneratecode_block .btn:active, .corfogeneratecode_block .btn:focus {
    border: none;
    box-shadow: none;
}